@import "@educandu/educandu/src/styles/greys.less";
@import "@educandu/educandu/src/styles/global-variables.less";

.EP_Educandu_Orchestration_Assistant_Display {
  
  .notes-grid {
    display: grid;
    width: 100%;
    max-width: 100%;
    gap: 0;
    box-sizing: border-box;
  }
  .note-cell,
  .instrument-cell {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
  }
  .instrument-wrapper {
    position: relative;
    width: 100%;
  }
  .instrument-label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    pointer-events: none; /* Damit der Text keine Klicks blockiert */
    z-index: 2;
  }
  .instrument-strings {
    background-color: #5c4033;
    color: white;
    font-size: smaller;
    text-align: center;
    margin-bottom: 12px;
    padding: 0;
  }

  .instrument-annotations {
    text-align: left;
    padding: 6px;
    background-color: white;
    color: black;
    border: 1px solid lightgray;
  }
  .instrument-annotations > p {
    margin: 0;
  }

  .instrument-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    overflow: hidden;
    margin-bottom: 12px;
  }

  .octave-info-container {
    margin-top: 16px;
    padding: 6px;
    background-color: @grey-3;
    border: 1px solid @grey-6;
    border-radius: 6px;
    position: relative;
  }
  .octave-info {
    font-size: @edu-font-size-base;
  }
  .octave-info h1 {
    font-size: @edu-heading-1-size;
    margin: 0 auto 10px 0;
    color: @grey-9;
  }
  .oc-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: @edu-banner-red-background-color;
    border: 1px solid @edu-banner-red-border-color;
    color: white;
  }

  .note-highligted {
    background-color: @edu-banner-orange-background-color;;
  }

  .octave-line {
    margin-top: 12px;
    display: grid;
    width: 100%;
    max-width: 100%;
    gap: 0;
    box-sizing: border-box;
  }
  .octave-line-marker {    
    height: 4px;
    background-color: @edu-border-color;
  }
  
}

.EP_Educandu_Orchestration_Assistant_Editor {
  
}
