.EP_Educandu_Orchestration_Assistant_Display {
  
  .notes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
  }
  .note-wrapper {
    flex: 1 1 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .note-wrapper:nth-child(7n + 1):nth-child(n+8) {
    border-right: 1px solid black;
  }
  .note-wrapper svg {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 12px;
  }

}

.EP_Educandu_Orchestration_Assistant_Editor {
  
}
